<!DOCTYPE html>
<html>
<meta charset="utf-8">
<head th:include="include :: header"></head>
<body class="gray-bg">
<div class="wrapper wrapper-content ">
    <div class="row">
        <div class="col-sm-12">
            <div class="ibox float-e-margins">
                <div class="ibox-content">
                    <form class="form-horizontal m-t" id="signupForm">
                        <input id="id" name="id" th:value="${product.id}" type="hidden">
                        <input type="hidden" id="productImage" name="productImage" th:value="${product.productImage}">
                        <input type="hidden" id="spec" name="spec" th:value="${product.spec}">

                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品图片：</label>
                            <div class="col-sm-8">
                                <img id="Image" th:src="${product.productImage}" style="height: 70px;cursor: pointer;"/>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品名称：</label>
                            <div class="col-sm-8">
                                <input id="productName" name="productName" th:value="${product.productName}" placeholder="商品名称" class="form-control" type="text">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">商品分类：</label>
                            <div class="col-sm-8" id="productCategoryMiddle">

                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-3 control-label">价格：</label>
                            <div class="col-sm-8">
                                <input id="price" name="price" th:value="${product.price}" placeholder="价格 例如:0.00" class="form-control" type="text" >
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">详情：</label>
                            <div class="col-sm-8">
                                <input name="remark" th:value="${product.remark}" class="form-control" type="text" placeholder="详情">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-sm-3 control-label">规格：</label>
                            <div class="col-sm-8">
                                <button class="btn btn-info" id="add_spec" type="button">+增加规格</button>
                            </div>
                        </div>


                        <span id="selectedData">

                        </span>


                        <div class="form-group">
                            <label class="col-sm-3 control-label">状态:</label>
                            <div class="col-sm-8">
                                <label class="radio-inline"><input th:field="*{product.status}" type="radio" name="status" value="1"/> 上架</label>

                                <label class="radio-inline"><input th:field="*{product.status}" type="radio" name="status" value="0"/> 下架</label>
                            </div>
                        </div>

                        <div class="form-group">
                            <div class="col-sm-8 col-sm-offset-3">
                                <button type="submit" class="btn btn-primary">提交</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<div th:include="include::footer"></div>
<script type="text/javascript" th:src="@{/js/jquery.json-2.3.js}"></script>
<script type="text/javascript" th:src="@{/js/jquery.json-2.3.min.js}"></script>
<script th:inline="javascript">

    $(function () {
        var spec =  JSON.parse(/*[[${product.spec}]]*/);

        var html = "";
        $.each(spec.webData,function (i,v) {
            html +='<div class="form-group" >';
            html +='    <label class="col-sm-3 control-label"></label>';
            html +='    <div class="col-sm-8">';
            html +='        <div class="form-group">';
            html +='            <label class="col-sm-2 control-label checkbox-inline"><input type="checkbox" '+(v.specChecked?'checked="true"':'')+'>'+v.specName+'：</label>';
            html +='            <div class="col-sm-9">';
                                    $.each(v.specList,function (j,k) {
            html +='                    <label class="checkbox-inline"><input type="checkbox" value="'+k.listPrice+'" '+(k.listChecked?'checked="true"':'')+' > '+k.listName+'</label>';
                                    })
            html +='            </div>';
            html +='        </div>';
            html +='        <div class="col-sm-7 col-sm-offset-2" style="overflow: hidden;">';
            html +='            <input class="form-control" type="text" style="width: 60px;float: left" placeholder="名称">';
            html +='            <input class="form-control" type="text" style="width: 60px;float: left" value="0" placeholder="价格">';
            html +='            <button class="btn btn-success" type="button" onclick="addAttribute(this)" style="float: left">增加</button>';
            html +='        </div>';
            html +='    </div>';
            html +='</div>';
        });

        $("#selectedData").html(html);


        var productCategory = /*[[${product.productCategoryMiddle}]]*/;
        var categoryList = /*[[${categoryList}]]*/;
        html = "";
        $.each(categoryList,function (i,v) {
            html += '<label class="checkbox-inline"  >';
            var str = '';
            $.each(productCategory,function (j,k) {
                if(k == v.id){
                    str = 'checked="checked"';
                }
            })
            html += '   <input name="productCategoryMiddle" type="checkbox" '+str+' value="'+v.id+'" >'+v.categoryName;
            html += '</label>';
        })
        $("#productCategoryMiddle").html(html);
    })
</script>
<script type="text/javascript" th:src="@{/js/appjs/product/edit.js}" >
</script>
</body>
</html>
